<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.Properties.Settings.SistemaConnectionString"
            connectionString="Data Source=LUISN\SQLEXPRESS;Initial Catalog=Sistema;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="Sistema.Properties.Settings.ObrasOTConnectionString"
            connectionString="Data Source=190.111.249.225;Initial Catalog=ObrasOT;Persist Security Info=True;User ID=gaos;Password=ezn2018$bs4s"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>